
@{
    ViewBag.Title = "INDEX";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <link href="~/Content/individual/indexStyle.css" rel="stylesheet"/>
    
}

<div class="container">
    <div class="row">   
        <div class="col-12">
            <h1 class="text-center">@User.Identity.Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="form-group">
                            <input type="date" id="miFecha" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="responsive-vertical">
                            <table id="calendario" class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Lunes</th>
                                        <th class="text-center">Martes</th>
                                        <th class="text-center">Miercoles</th>
                                        <th class="text-center">Jueves</th>
                                        <th class="text-center">Viernes</th>
                                        <th class="text-center">Sábado</th>
                                    </tr>
                                </thead>
                                <tbody id="cuerpoTabla">
                                    <tr>
                                        <th>1</th><th>2</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a class="btn btn-primary" href="@Url.Action("List","Store")">Ver Stock</a>
            <a class="btn btn-danger" href="/Account/LogOff">Salir</a>
        </div>
    </div>
</div>

@section scripts{
    
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/individual/indexQuery.js"></script>
    
}